<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Administración Pical</title>

	{% block stylesheets %}
	<link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/public/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
	
	{% endblock %}  

</head>

<body>
	{% if app.user.username is defined %}
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('pical_usuario_homepage') }}">Club Pical</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Secretaria <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('pical_secretaria_socios_index') }}">Listado Socios</a></li>
                  <li><a href="{{ path('pical_secretaria_socio_form_add') }}">Nuevo Socio</a></li>
                  <li><a href="{{ path('pical_secretaria_escala_form_add') }}">Nuevo Escala</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ path('pical_secretaria_escala_form_add') }}">Enviar Correo</a></li>
                  
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tesoreria <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Nuevo Movimiento</a></li>
                  <li><a href="#">Estadísticas</a></li>
                  <li><a href="#">Cuota Trimestral</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

             
              <li ><a href="{{ path('pical_usuario_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="../navbar-static-top/"><strong>Usuario: </strong> {{ app.user.username }}</a></li>
       
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
     {% endif %} 
    <div class="container">
	{% block body %}{% endblock %}
	</div>
	
	{% block javascripts %}
		<script src="/public/js/jquery-3.1.1.min.js"></script>
    	<script src="/public/js/bootstrap.min.js"></script>
    	<script src="/public/js/jquery.dataTables.min.js"></script>
    	<script src="/public/js/dataTables.bootstrap.min.js"></script>
    	<script type="text/javascript">
        $(document).ready(function() {
            $('#tablaSocios').dataTable({bFilter: false, bInfo: true});
        } );
    </script>
    {% endblock %}
</body>
</html>
